In [1]:
#import packages
import pandas as pd
import geopandas as gpd
import requests
from shapely.geometry import shape, Point
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import urllib.request, json
import requests
import urllib.parse
import datetime
import os
import dask.dataframe as dd
import calendar
from datetime import datetime, timedelta

from geopandas.tools import sjoin

import warnings
warnings.filterwarnings('ignore')

/Users/lizjohnson/opt/anaconda3/envs/geo_env/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
comp_dict_final = {'noise': ['noise - residential','noise survey', 'noise - commercial', 'noise - helicopter', 'collection truck noise', 'noise - vehicle', 'noise - house of worship', 'noise', 'noise - park', 'noise - street/sidewalk'],
                   'taxi complaints & inquiries': ['green taxi complaint', 'green taxi report', 'taxi compliment', 'dispatched taxi compliment', 'dispatched taxi complaint', 'for hire vehicle complaint', 'taxi complaint', 'taxi licensee complaint', 'taxi report', 'fhv licensee complaint', 'for hire vehicle report'],
                   'homelessness': ['homeless person assistance', 'homeless street condition', 'encampment', 'homeless encampment'],
                   'plaster/paint': ['paint/plaster','peeling paint', 'paint - plaster'],
                   'street/sidewalk/road condition': ['street condition', 'dep street condition', 'street light condition', 'root/sewer/sidewalk condition', 'dep sidewalk condition', 'dep bridge condition', 'curb condition', 'lot condition'],
                   'animal abuse': ['animal abuse', 'animal-abuse'],
                   'dead or damaged tree': ['dead tree', 'damaged tree', 'dead/dying tree'],
                   'waste & bulky item collection': ['institution disposal complaint', 'missed collection', 'missed collection (all materials)', 'residential disposal complaint', 'electronics waste appointment', 'seasonal collection', 'request large bulky item collection', 'request xmas tree collection', 'electronics waste'],
                   'litter basket complaints & inquiries': ['overflowing litter baskets', 'litter basket request', 'litter basket / request', 'litter basket complaint'],
                   'recycling basket complaints': ['recycling basket complaint', 'overflowing recycling baskets'],
                   'literature request': ['literature request', 'oem literature request', 'dor literature request', 'dof literature request', 'hpd literature request'], 
                   'hazardous materials': ['radioactive material', 'hazardous material', 'hazardous materials'],
                   'broken parking meter': ['broken parking meter', 'broken muni meter'],
                   'street sign complaints': ['highway sign - missing', 'highway sign - damaged', 'highway sign - dangling', 'street sign - dangling', 'street sign - missing', 'street sign - damaged'], 
                   'derelict vehicles': ['derelict vehicle', 'derelict vehicles'], 
                   'bus stop shelter complaint': ['bus stop shelter complaint', 'bus stop shelter placement'],
                   'illegal animal - sold/kept': ['illegal animal - sold/kept', 'illegal animal sold', 'illegal animal kept as pet'],
                   'home delivered meal complaint': ['home delivered meal - missed delivery', 'home delivered meal complaint'],
                   "building marshal's office": ["building marshal's office", 'building marshals office'],
                   'street sweeping complaint': ['sweeping/missed', 'sweeping/missed-inadequate', 'sweeping/inadequate'],
                   'fire alarm serive requests': ['fire alarm - new system', 'fire alarm - modification', 'fire alarm - reinspection', 'fire alarm - replacement'],
                   'general inquiry': ['general question', 'comments', 'general'],
                   'dof property complaints & inquiries': ['dof property - owner issue', 'dof property - update account', 'dof property - rpie issue', 'dof property - city rebate', 'dof property - reduction issue', 'dof property - payment issue', 'dof property - property value', 'dof property - request copy', 'dof property - state rebate'], 
                   'public advocate request': ['advocate - other', 'advocate-prop class incorrect', 'advocate-scrie/drie', 'advocate-prop refunds/credits', 'advocate-business tax', 'advocate-co-opcondo abatement', 'advocate-foreclosure', 'advocate - rpie', 'advocate - levy', 'advocate-commercial exemptions', 'advocate-personal exemptions', 'advocate-ubt', 'advocate - lien', 'advocate-property value'],
                   'dof parking requests': ['dof parking - payment issue', 'dof parking - request status', 'dof parking - request copy', 'dof parking - dmv clearance', 'dof parking - address update', 'dof parking - tax exemption'],
                   'public assembly': ['public assembly - temporary', 'public assembly'], 
                   'dhs advantage program inquiries': ['dhs advantage - tenant', 'dhs advantage - third party', 'dhs advantage -landlord/broker'],
                   'construction': ['general construction', 'construction'],
                   'electrical': ['electric', 'electrical'],
                   'unsanitary condition': ['unsanitary condition'],
                   'asbestos': ['asbestos', 'asbestos/garbage nuisance'],
                   'dirty conditions': ['dirty condition', 'dirty conditions'],
                  'snow' : ['snow','snw','snow or ice','snow removal'],
                  'ferry complaints & inquiries':['ferry inquiry','ferry permit','ferry complaint'],
                  'building facade complaints & inquiries':['facade insp safety pgm','facades']}

In [3]:
all311 = 'https://data.cityofnewyork.us/resource/erm2-nwe9.json'
uniqueid = 'unique_key'
cat_clnm = 'agency_name'
subcat_clnm = 'complaint_type'
subsubcat_clnm = 'descriptor'
datetime_clnm = 'created_date'

In [43]:
url = 'https://data.cityofnewyork.us/resource/erm2-nwe9.json'
query = (url +'?'
        "$select=agency_name,count(unique_key)"
        "&$where=created_date between '2010-01-01T00:00:00.000' and '2022-12-31T23:59:59.999'"
        "&$group=agency_name"
        "&$limit=1000000")
query = query.replace(" ", "%20")
print(query)
response = urllib.request.urlopen(query)
data = json.loads(response.read())

https://data.cityofnewyork.us/resource/erm2-nwe9.json?$select=agency_name,count(unique_key)&$where=created_date%20between%20'2010-01-01T00:00:00.000'%20and%20'2022-12-31T23:59:59.999'&$group=agency_name&$limit=1000000

In [111]:
df = pd.DataFrame(data)
df['count_unique_key'] = df['count_unique_key'].astype(int)
df.sort_values(by = 'count_unique_key',ascending = False).head(10)

                                            agency_name  count_unique_key
69                      New York City Police Department           9235192
28    Department of Housing Preservation and Develop...           7629926
32                         Department of Transportation           3730438
31                             Department of Sanitation           3704995
24               Department of Environmental Protection           2211927
21                              Department of Buildings           1440895
30                   Department of Parks and Recreation           1341426
26              Department of Health and Mental Hygiene            783671
1881                      Taxi and Limousine Commission            322335
22                       Department of Consumer Affairs            274090

In [112]:
df.sort_values(by = 'count_unique_key',ascending = False).tail(10)

                                            agency_name  count_unique_key
1655              School - Rosalyn Yalow Charter School                 1
832                School - Peace and Diversity Academy                 1
1653  School - Rockaway Park High School for Environ...                 1
1652           School - Rockaway Collegiate High School                 1
843               School - Professional Performing Arts                 1
1355                           School - PS 41 Crocheron                 1
839   School - Performing Arts and Technology High S...                 1
1648            School - Riverton Street Charter School                 1
1646  School - Riverdale - Kingsbridge Academy (Midd...                 1
227                 School - Brooklyn Democracy Academy                 1

In [113]:
agency_dict = {'NYC Public Schools':df[df['agency_name'].str.contains('School')]['agency_name'].tolist()}

In [114]:
print(agency_dict)

{'NYC Public Schools': ['School - 47 The American Sign Language and English Secondary School', 'School - 51 Avenue Academy: The Path To Academic Excellence', 'School - Abraham Lincoln High School', 'School - Academic Leadership Charter School', 'School - Academy for College Preparation and Career Exploration: A College Board School', 'School - Academy for Environmental Leadership', 'School - Academy for Health Careers', 'School - Academy for Language and Technology', 'School - Academy for Personal Leadership and Excellence', 'School - Academy for Public Relations', 'School - Academy for Scholarship and Entrepreneurship', 'School - Academy for Scholarship and Entrepreneurship: A College Board School', 'School - Academy for Social Action', 'School - Academy for Software Engineering', 'School - Academy for Young Writers A', 'School - Academy for Young Writers B', 'School - Academy of American Studies', 'School - Academy of Applied Mathematics and Technology', 'School - Academy of Arts and Letters', 'School - Academy of Collaborative Education', 'School - Academy of Finance and Enterprise', 'School - Academy of Hospitality and Tourism', 'School - Academy of Innovative Technology', 'School - Academy of Medical Technology: A College Board School', 'School - Academy of Public Relations', 'School - Academy of the City Charter School', 'School - Access GED - East at South Shore High School', 'School - ACE Academy for Scholars at the Geraldine Ferraro Campus', 'School - Achievement First Apollo Charter School', 'School - Achievement First Brownsville Charter School', 'School - Achievement First Crown Heights Charter School', 'School - Achievement First Endeavor Charter School', 'School - ACORN Community High School', 'School - Acorn High School for Social Justice', 'School - Adlai E Stevenson High School', 'School - Adult and Continuing Education', 'School - Agnes Y Humphrey School for Leadership', 'School - Albert Shanker School for Visual and Performing Arts', 'School - ALC Bowling Green', 'School - ALC Boys Club', 'School - ALC Brooklyn Choices', 'School - ALC Choir Academy', 'School - ALC Fundamentals Academy', 'School - ALC Grady High School', 'School - ALC John Jay', 'School - ALC Lafayette Academy', 'School - ALC MS 246', 'School - ALC MS 258', 'School - ALC Park Place Academy', 'School - ALC Royal 180 Academy', 'School - Alfred E Smith Campus YABC', 'School - All City Leadership Secondary School', 'School - Amber Charter School', 'School - American Dream Charter School', 'School - Amistad Dual Language School', 'School - Ampark Neighborhood', 'School - Andries Hudde', 'School - Antonia Pantoja Preparatory Academy: A College Board School', 'School - A Philip Randolph Campus High School', 'School - Archer Elementary School', 'School - Archimedes Academy for Math, Science and Technology Applications', 'School - Archimedes Academy for Math, Science, and Technology Applications', 'School - Art and Design High School', 'School - Arts and Media Preparatory Academy', 'School - Aspirations Diploma Plus High School', 'School - Astor Collegiate Academy', 'School - August Martin High School', 'School - Automotive High School', 'School - Aviation Career and Technical Education High School', 'School - Baccalaureate School for Global Education', 'School - Bard High School Early College', 'School - Bard High School Early College Queens', 'School - Baruch College Campus High School', 'School - Bayard Rustin Educational Complex', 'School - Baychester Academy', 'School - Baychester Middle School', 'School - Bayside High School', 'School - Beach Channel High School', 'School - Beacon High School', 'School - Bedford Academy High School', 'School - Bedford Park Elementary School', 'School - Bedford Stuyvesant Collegiate Charter School', 'School - Bedford Stuyvesant New Beginnings Charter School', 'School - Bedford Stuyvesant Preparatory High School', 'School - Beginning With Children Charter School', 'School - Beginning with Children Charter School II', 'School - Belmont Preparatory High School', 'School - Benjamin Banneker Academy', 'School - Benjamin Franklin High School for Finance and Information Technology', 'School - Benjamin N Cardozo High School', 'School - Boys and Girls High School', 'School - Bread and Roses Integrated Arts High School', 'School - Brighter Choice Community School', 'School - Brilla College Prep Charter School', 'School - Bronx Academy for Software Engineering (BASE)', 'School - Bronx Academy of Health Careers', 'School - Bronx Academy of Promise Charter School', 'School - Bronx Aerospace High School', 'School - Bronx Alliance Middle School', 'School - Bronx Arena High School', 'School - Bronx Career and College Preparatory High School', 'School - Bronx Center for Science and Mathematics', 'School - Bronx Charter School for Better Learning', 'School - Bronx Charter School for Children', 'School - Bronx Charter School for Excellence', 'School - Bronx Charter School for the Arts', 'School - Bronx Collaborative High School', 'School - Bronx Collegiate Academy', 'School - Bronxdale High School', 'School - Bronx Dance Academy School', 'School - Bronx Delta School', 'School - Bronx Early College Academy for Teaching and Learning', 'School - Bronx Engineering and Technology Academy', 'School - Bronx Green Middle School', 'School - Bronx Health Sciences High School', 'School - Bronx High School for Medical Science', 'School - Bronx High School for the Visual Arts', 'School - Bronx High School for Writing and Communication Arts', 'School - Bronx International High School', 'School - Bronx Lab School', 'School - Bronx Leadership Academy High School', 'School - Bronx Leadership Academy II High School', 'School - Bronx Lighthouse Charter School', 'School - Bronx Little School', 'School - Bronx Park Middle School', 'School - Bronx Preparatory Charter School', 'School - Bronx Regional High School', 'School - Bronx River High School', 'School - Bronx School for Law, Government and Justice', 'School - Bronx School of Law and Finance', 'School - Bronx Studio School for Writers and Artists', 'School - Bronx Theatre High School', 'School - Bronx Writing Academy', 'School - Brooklyn Academy of Science and the Environment', 'School - Brooklyn Arbor Elementary School', 'School - Brooklyn Ascend Charter School', 'School - Brooklyn Brownstone School', 'School - Brooklyn College Academy', 'School - Brooklyn Collegiate: A College Board School', 'School - Brooklyn Community Arts and Media High School (BCAM)', 'School - Brooklyn Democracy Academy', 'School - Brooklyn Dreams Charter School', 'School - Brooklyn East Collegiate Charter School', 'School - Brooklyn Environmental Exploration School (BEES)', 'School - Brooklyn Excelsior Charter', 'School - Brooklyn Excelsior Charter School', 'School - Brooklyn Frontiers High School', 'School - Brooklyn Gardens Elementary School', 'School - Brooklyn High School for Law and Technology', 'School - Brooklyn High School for Leadership and Community Service', 'School - Brooklyn High School of the Arts', 'School - Brooklyn Institute for Liberal Arts', 'School - Brooklyn International High School', 'School - Brooklyn Lab School', 'School - Brooklyn Landmark Elementary School', 'School - Brooklyn Preparatory High School', 'School - Brooklyn Scholars Charter School', 'School - Brooklyn School for Music and Theatre', 'School - Brooklyn School of Inquiry', 'School - Brooklyn Secondary School for Collaborative Studies', 'School - Brooklyn Studio Secondary School', 'School - Brooklyn Technical High School', 'School - Brooklyn Theatre Arts High School', 'School - Brooklyn Urban Garden Charter School', 'School - Broome Street Academy Charter School', 'School - Brownsville Academy High School', 'School - Brownsville Collaborative Middle School', 'School - Brownsville Collegiate Charter School', 'School - Bushwick Ascend Charter School', 'School - Bushwick Community High School', 'School - Bushwick Leaders High School for Academic Excellence', 'School - Business, Computer Applications, and Entrepreneurship High School', 'School - Business of Sports School', 'School - Cambria Heights Academy', 'School - Canarsie Ascend Charter School', 'School - Careers in Sports High School', 'School - Carl C Icahn Bronx North Charter School', 'School - Carl C Icahn South Bronx Charter School', 'School - Castle Bridge School', 'School - Catherine and Count Basie MS 72', 'School - C Columbus High School YABC', 'School - Celia Cruz Bronx High School of Music', 'School - Central Park East I', 'School - Central Park East II', 'School - Challenge Preparatory Charter School', 'School - Chelsea Career and Technical Education High School', 'School - Childrens Workshop at PS 361', 'School - Choir Academy of Harlem', 'School - Christopher Avenue Community School', 'School - Christopher Columbus High School', 'School - Citizens of the World Charter School New York 2 Crown Heights', 'School - City College Academy of the Arts', 'School - City Polytechnic High School of Engineering, Architecture, and Technology', 'School - Civic Leadership Academy', 'School - Clara Barton High School', 'School - Claremont International High School', 'School - Cobble Hill School of American Studies', 'School - Collaborative Academy of Science, Technology, and Law', 'School - Collaborative Arts Middle School', 'School - Columbia Secondary School', 'School - Community Action School MS 258', 'School - Community Health Academy of the Heights', 'School - Community Math and Science Prep', 'School - Community Partnership Charter School', 'School - Community Roots Charter School', 'School - Community School for Social Justice', 'School - Community Voices Middle School', 'School - Comprehensive Model School Project MS 327', 'School - Concourse Village Elementary School', 'School - Coney Island Preparatory Public Charter School', 'School - Conselyea Preparatory School', 'School - Cornerstone Academy for Social Action', 'School - Cornerstone Academy for Social Action Middle School (CASA)', 'School - Creston Academy', 'School - Crotona International High School', 'School - CSI High School for International Studies', 'School - Cultural Academy for the Arts and Sciences', 'School - Curtis High School', 'School - Cynthia Jenkins School', 'School - Cypress Hills Collegiate Preparatory School', 'School - Democracy Prep Endurance Charter School', 'School - Democracy Prep Harlem Charter School', 'School - DeWitt Clinton High School', 'School - Digital Arts and Cinema Technology High School', 'School - Discovery High School', 'School - Dock Street School for STEAM Studies', 'School - DREAM Charter School', 'School - Dr Jacqueline Peek-Davis School', 'School - Dr Susan S McKinney Secondary School of the Arts', 'School - Eagle Academy for Young Men', 'School - Eagle Academy for Young Men II', 'School - Eagle Academy for Young Men III', 'School - Earth School', 'School - East Bronx Academy for the Future', 'School - East Brooklyn Community High School', 'School - East Flatbush Community Research School', 'School - East Harlem Scholars Academy Charter School', 'School - East Harlem Scholars Academy Charter School II', 'School - East New York Elementary School of Excellence', 'School - East New York Family Academy', 'School - East New York Middle School of Excellence', 'School - East River Academy', 'School - East Side Community High School', 'School - East Side Community School', 'School - East Side Elementary School PS 267', 'School - East Side Middle School', 'School - East-West School of International Studies', 'School - East Williamsburg Scholars Academy', 'School - Ebbets Field Middle School', 'School - EBC High School for Public Service Bushwick', 'School - Edward A Reynolds West Side High School', 'School - Edward R Murrow High School', 'School - Eleanor Roosevelt High School', 'School - Elementary School for Math, Science, and Technology', 'School - Elijah Stroud Middle School', 'School - Ella Baker School', 'School - Elm Tree Elementary School', 'School - El Puente Academy for Peace and Justice', 'School - Emma Lazarus High School', 'School - Emolior Academy', 'School - Energy Tech High School', 'School - Enterprise, Business, and Technology High School', 'School - Entrada Academy', 'School - Erasmus YABC', 'School - ESMT - IS 190', 'School - Esperanza Preparatory Academy', 'School - Essence School', 'School - Essex Street Academy', 'School - Evander Childs Evening High School', 'School - Evergreen Middle School for Urban Exploration', 'School - Excellence Boys Charter School', 'School - Excelsior Preparatory High School', 'School - Eximius College Preparatory Academy: A College Board School', 'School - Explorations Academy High School', 'School - Explore Charter School', 'School - Explore Exceed Charter School', 'School - Fairmont Neighborhood School', 'School - Family Life Academy Charter School', 'School - Family Life Academy Charter School II', 'School - Fannie Lou Hamer Freedom High School', 'School - Fannie Lou Hamer Middle School', 'School - Fanny High School for Fire and Life Safety', 'School - Far Rockaway High School', 'School - FDNY Captain Vernon A Richard High School for Fire and Life Safety', 'School - Fiorello H LaGuardia High School of Music and Art and Performing Arts', 'School - Flushing High School', 'School - Food and Finance High School', 'School - Fordham Leadership Academy', 'School - Foreign Language Academy of Global Studies', 'School - Forest Hills High School', 'School - Forsyth Satellite Academy', 'School - Fort Greene Preparatory Academy', 'School - Fort Hamilton High School', 'School - Foundations Academy', 'School - Frances Perkins Academy', 'School - Francis Lewis High School', 'School - Franklin Delano Roosevelt High School', 'School - Franklin K Lane Campus YABC', 'School - Franklin K Lane High School', 'School - Frank Mccourt High School', 'School - Frank Sinatra School of the Arts High School', 'School - Frederick Douglass Academy', 'School - Frederick Douglass Academy III Secondary School', 'School - Frederick Douglass Academy II Secondary School', 'School - Frederick Douglass Academy IV Secondary School', 'School - Frederick Douglass Academy VI High School', 'School - Frederick Douglass Academy VII High School', 'School - Frederick Douglass Academy VIII Middle School', 'School - Frederick Douglass Academy V Middle School', 'School - Freedom Academy High School', 'School - Future Leaders Institute Charter School', 'School - Gateway School for Environmental Research and Technology', 'School - Gaynor McCown Expeditionary Learning School', 'School - General D Chappie James Elementary School of Science', 'School - George Washington Carver High School for the Sciences', 'School - George Washington YABC', 'School - George Westinghouse Career and Technical Education High School', 'School - Girls Preparatory Charter School of New York', 'School - Global Community Charter School', 'School - Global Enterprise High School', 'School - Global Neighborhood Secondary School', 'School - Global Technology Preparatory', 'School - Globe School for Environmental Research', 'School - Goldie Maple Academy', 'School - Gotham Collaborative High School', 'School - Grace Dodge Career and Technical Education High School', 'School - Gramercy Arts High School', 'School - Grant Avenue Elementary School', 'School - Great Oaks Charter School', 'School - Gregorio Luperon High School for Science and Mathematics', 'School - Grover Cleveland High School', 'School - Growing Up Green Charter School', 'School - G Westinghouse Evening High School', 'School - Hamilton Heights School', 'School - Harbor Science and Arts Charter School', "School - Harlem Children's Zone Promise Academy 1 Charter School", "School - Harlem Children's Zone Promise Academy Charter School", "School - Harlem Children's Zone Promise Academy II", "School - Harlem Children's Zone Promise Academy II Charter School", 'School - Harlem Hebrew Language Charter School', 'School - Harlem Link Charter School', 'School - Harlem Prep Charter School', 'School - Harlem Renaissance High School', 'School - Harlem Success Academy I Charter School', 'School - Harlem Village Academy Leadership Charter School', 'School - Harriet Tubman Charter School', 'School - Harry S Truman High School', 'School - Harvest Collegiate High School', 'School - Hawtree Creek Middle School', 'School - Health Opportunities High School', 'School - Health Professions and Human Services', 'School - Hebrew Language Academy Charter School', 'School - Hellenic Classical Charter School', 'School - Herbert H Lehman High School', 'School - Herbert H Lehman YABC', 'School - Highland Park Community School', 'School - High School for Arts and Business', 'School - High School for Community Leadership', 'School - High School for Construction Trades, Engineering and Architecture', 'School - High School for Energy and Technology', 'School - High School for Environmental Studies', 'School - High School for Excellence and Innovation', 'School - High School for Health Careers and Sciences', 'School - High School for Health Professions and Human Services', 'School - High School for Law, Advocacy, and Community Justice', 'School - High School for Law and Public Service', 'School - High School for Law Enforcement and Public Safety', 'School - High School for Leadership and Public Service', 'School - High School for Mathematics, Science and Engineering at City College', 'School - High School for Media and Communications', 'School - High School for Medical Professions', 'School - High School for Public Service: Heroes of Tomorrow', 'School - High School for Service and Learning at Erasmus', 'School - High School for Teaching and the Professions', 'School - High School for Violin and Dance', 'School - High School for Youth and Community Development at Erasmus', 'School - High School of Applied Communication', 'School - High School of Arts and Technology', 'School - High School of Computers and Technology', 'School - High School of Economics and Finance', 'School - High School of Graphic Communication Arts', 'School - High School of Hospitality Management', 'School - High School of Sports Management', 'School - High School of Telecommunication Arts and Technology', 'School - High School of World Cultures', 'School - Hillcrest High School', 'School - Holcombe L Rucker School of Community Research', 'School - Hostos-Lincoln Academy of Science', 'School - HS 560 City As School', 'School - Hudson High School of Learning Technologies', 'School - Humanities and Arts Magnet High School', 'School - Humanities Preparatory Academy', 'School - Hunters Point Community Middle School', 'School - Hyde Leadership Charter School Bronx', 'School - Icahn Charter School', 'School - Icahn Charter School 2', 'School - Icahn Charter School 3', 'School - Icahn Charter School 5', 'School - Independence High School', 'School - Information Technology High School', 'School - Innovation Diploma Plus', 'School - Institute for Collaborative Education', 'School - In-Tech Academy (MS-HS 368)', 'School - In-Tech Academy MS-HS 368', 'School - International Community High School', 'School - International High School at Lafayette', 'School - International High School at LaGuardia Community College', 'School - International High School at Prospect Heights', 'School - International High School at Union Square', 'School - International Leadership Charter High School', 'School - International Leadership Charter School', 'School - International School for Liberal Arts', 'School - Inwood Academy for Leadership Charter School', 'School - Irwin Altman MS 172', 'School - IS 10 Horace Greeley', 'School - IS 117 Joseph H Wade', 'School - IS 119 The Glendale', 'School - IS 125 Thom J McCann Woodside', 'School - IS 131 Dr Sun Yat Sen', 'School - IS 136 Charles O Dewey', 'School - IS 141 The Steinway', 'School - IS 145 Joseph Pulitzer', 'School - IS 171 Abraham Lincoln', 'School - IS 181 Pablo Casals', 'School - IS 187',

In [115]:
mask = df['agency_name'].str.contains('School')

# replace the selected rows with 'NYC Public Schools'
df.loc[mask, 'agency_name'] = 'NYC Public Schools'

In [116]:
df = df.groupby('agency_name').sum()
df.sort_values(by = 'count_unique_key',ascending = False).head(10)

                                                    count_unique_key
agency_name
New York City Police Department                              9235192
Department of Housing Preservation and Development           7629926
Department of Transportation                                 3730438
Department of Sanitation                                     3704995
Department of Environmental Protection                       2211927
Department of Buildings                                      1440895
Department of Parks and Recreation                           1341426
Department of Health and Mental Hygiene                       783671
Taxi and Limousine Commission                                 322335
Department of Consumer Affairs                                274090

In [117]:
df.sort_values(by = 'count_unique_key',ascending = False).tail(10)

                                           count_unique_key
agency_name
MOC                                                       3
NYCEM                                                     2
Alternative Superintendency                               2
OMB                                                       2
Fire Department Operations Center                         2
DOF                                                       2
Bureau of Tobacco Control                                 1
New York Police Precinct                                  1
Early Care and Education Information Unit                 1
Department of Finance                                     1

In [118]:
len(df)

96

In [119]:
from fuzzywuzzy import fuzz, process

# list of unique agency names
agency_list = df.index.tolist()

# create a dictionary to store the grouped agency names
grouped_agencies = {}

# loop through each agency name and compare it with the others using fuzz.token_set_ratio
for i, agency in enumerate(agency_list):
    # create a list of tuples containing the agency name and its token set ratio score
    ratios = process.extract(agency, agency_list, scorer=fuzz.token_set_ratio)
    
    # filter out the agency itself and any duplicates
    ratios = [x for x in ratios if x[0] != agency and x[0] not in grouped_agencies]
    
    # create a list of agency names that have a token set ratio score >= 80
    similar_agencies = [x[0] for x in ratios if x[1] >= 80]
    
    # add the agency and its similar agencies to the grouped_agencies dictionary
    grouped_agencies[agency] = [agency] + similar_agencies

In [120]:
# print the grouped agencies
grouped_agencies

{'3-1-1': ['3-1-1', '3-1-1 Call Center'],
 '3-1-1 Call Center': ['3-1-1 Call Center'],
 '311 Administrative Supervisor': ['311 Administrative Supervisor'],
 'ACS': ['ACS'],
 'Accounts Examination': ['Accounts Examination'],
 'Adjudication - Appeals Unit': ['Adjudication - Appeals Unit'],
 'Adjudication - Hearing by Mail': ['Adjudication - Hearing by Mail'],
 'Alternative Superintendency': ['Alternative Superintendency'],
 'Bureau of Tobacco Control': ['Bureau of Tobacco Control'],
 'CEO': ['CEO'],
 'COIB': ['COIB'],
 'Central - Department of Education': ['Central - Department of Education',
  'Department of Education',
  'Office of the CIO - Department of Education'],
 'Child Care and Camps Complaint Unit': ['Child Care and Camps Complaint Unit'],
 'Commercial Exemption Unit': ['Commercial Exemption Unit',
  'Exemption Unit',
  'Exemption Policy Unit'],
 'Condo or CoOp Unit': ['Condo or CoOp Unit'],
 'Correspondence - Taxi and Limousine Commission': ['Correspondence - Taxi and Limousine Commission',
  'Taxi and Limousine Commission',
  'Correspondence Unit'],
 'Correspondence Unit': ['Correspondence Unit'],
 'DCA': ['DCA', 'DCAS'],
 'DCAS': ['DCAS'],
 'DCP': ['DCP'],
 'DFTA': ['DFTA'],
 'DHS Advantage Programs': ['DHS Advantage Programs'],
 'DOB': ['DOB',
  'DOB Inspections - Bronx',
  'DOB Inspections - Brooklyn',
  'DOB Inspections - Manhattan',
  'DOB Inspections - Queens'],
 'DOB Inspections - Bronx': ['DOB Inspections - Bronx',
  'DOB Inspections - Brooklyn',
  'DOB Inspections - Manhattan',
  'DOB Inspections - Queens'],
 'DOB Inspections - Brooklyn': ['DOB Inspections - Brooklyn',
  'DOB Inspections - Queens'],
 'DOB Inspections - Manhattan': ['DOB Inspections - Manhattan',
  'DOB Inspections - Queens'],
 'DOB Inspections - Queens': ['DOB Inspections - Queens'],
 'DOB Inspections - Staten Island': ['DOB Inspections - Staten Island'],
 'DOE': ['DOE'],
 'DOF': ['DOF', 'DOF Legal Affairs - Taxpayer Services Unit'],
 'DOF Legal Affairs - Taxpayer Services Unit': ['DOF Legal Affairs - Taxpayer Services Unit'],
 'DOHMH': ['DOHMH'],
 'DOT': ['DOT'],
 'DPR': ['DPR'],
 'DRIE Unit': ['DRIE Unit', 'RPIE Unit'],
 'DVS': ['DVS'],
 'Department for the Aging': ['Department for the Aging'],
 'Department of Buildings': ['Department of Buildings'],
 'Department of Consumer Affairs': ['Department of Consumer Affairs'],
 'Department of Education': ['Department of Education',
  'Office of the CIO - Department of Education',
  'Department of Sanitation'],
 'Department of Environmental Protection': ['Department of Environmental Protection'],
 'Department of Finance': ['Department of Finance'],
 'Department of Health and Mental Hygiene': ['Department of Health and Mental Hygiene'],
 'Department of Homeless Services': ['Department of Homeless Services',
  'Operations Unit - Department of Homeless Services'],
 'Department of Housing Preservation and Development': ['Department of Housing Preservation and Development'],
 'Department of Information Technology and Telecommunications': ['Department of Information Technology and Telecommunications'],
 'Department of Parks and Recreation': ['Department of Parks and Recreation'],
 'Department of Sanitation': ['Department of Sanitation',
  'Department of Transportation'],
 'Department of Transportation': ['Department of Transportation'],
 'Disability Rent Increase Exemption Unit': ['Disability Rent Increase Exemption Unit',
  'Exemption Unit',
  'Senior Citizen Rent Increase Exemption Unit',
  'Exemption Policy Unit'],
 'Discrepancy and Billing': ['Discrepancy and Billing'],
 'Division of Alternative Management': ['Division of Alternative Management'],
 'Dunning Unit': ['Dunning Unit'],
 'Early Care and Education Information Unit': ['Early Care and Education Information Unit'],
 'Economic Development Corporation': ['Economic Development Corporation'],
 'Exemption Policy Unit': ['Exemption Policy Unit',
  'Exemption Unit',
  'Personal Exemption Unit'],
 'Exemption Unit': ['Exemption Unit', 'Personal Exemption Unit'],
 'External Affairs Unit': ['External Affairs Unit'],
 'Fire Department Operations Center': ['Fire Department Operations Center'],
 'Fire Department of New York': ['Fire Department of New York',
  'New York City Police Department'],
 'HPD': ['HPD'],
 'HRA Benefit Card Replacement': ['HRA Benefit Card Replacement'],
 'HealthCare Connections': ['HealthCare Connections'],
 'Investigation Review Section': ['Investigation Review Section'],
 'Land Records': ['Land Records'],
 'MOC': ['MOC'],
 'Mayorâ\x80\x99s Office of Special Enforcement': ['Mayorâ\x80\x99s Office of Special Enforcement'],
 'Mosquito Control': ['Mosquito Control'],
 'Municipal Archives': ['Municipal Archives'],
 'NYC Emergency Management': ['NYC Emergency Management'],
 'NYC Public Schools': ['NYC Public Schools'],
 'NYCEM': ['NYCEM', 'NYCEM Property Damage'],
 'NYCEM Property Damage': ['NYCEM Property Damage'],
 'NYPD': ['NYPD'],
 'New York City Police Department': ['New York City Police Department'],
 'New York Police Precinct': ['New York Police Precinct'],
 'OMB': ['OMB'],
 'Office of Technology and Innovation': ['Office of Technology and Innovation'],
 'Office of the CIO - Department of Education': ['Office of the CIO - Department of Education'],
 'Office of the Sheriff': ['Office of the Sheriff'],
 'Office of the Taxpayer Advocate': ['Office of the Taxpayer Advocate'],
 'Operations Unit - Department of Homeless Services': ['Operations Unit - Department of Homeless Services'],
 'Payment Operations': ['Payment Operations'],
 'Personal Exemption Unit': ['Personal Exemption Unit'],
 'Property Exec Office': ['Property Exec Office'],
 'RPIE Unit': ['RPIE Unit'],
 'Refunds and Adjustments': ['Refunds and Adjustments'],
 'Revenue Accounting': ['Revenue Accounting'],
 'Senior Citizen Rent Increase Exemption Unit': ['Senior Citizen Rent Increase Exemption Unit'],
 'TAT': ['TAT'],
 'TAX': ['TAX', 'Tax Lien Unit'],
 'TLC': ['TLC'],
 'Tax Lien Unit': ['Tax Lien Unit'],
 'Taxi and Limousine Commission': ['Taxi and Limousine Commission'],
 'Traffic Management Center': ['Traffic Management Center'],
 'Valuation Policy': ['Valuation Policy']}

In [121]:
agency_dict['3-1-1 Call Center'] = ['3-1-1','311 Administrative Supervisor']
agency_dict['Department of Education'] = ['DOE','Central - Department of Education', 'Department of Education','Office of the CIO - Department of Education']
agency_dict['Taxi and Limousine Commission'] = ['Correspondence - Taxi and Limousine Commission','TLC']
agency_dict['Department of Buildings'] = ['DOB','DOB Inspections - Bronx','DOB Inspections - Brooklyn','DOB Inspections - Manhattan','DOB Inspections - Queens']                                           
agency_dict['Department of Finance'] = ['DOF', 'DOF Legal Affairs - Taxpayer Services Unit']
agency_dict['Department of Homeless Services'] = 'Operations Unit - Department of Homeless Services'
agency_dict['Exemption Policy Unit'] = ['Exemption Unit','Personal Exemption Unit']
agency_dict['Fire Department of New York'] = 'Fire Department Operations Center'
agency_dict['New York City Police Department'] = 'New York Police Precinct'
agency_dict['NYC Emergency Management'] = ['NYCEM', 'NYCEM Property Damage']

In [122]:
df = df.reset_index()
for i, row in df.iterrows():
    for key, value in agency_dict.items():
        if row['agency_name'] in value:
            df.loc[i, 'agency_name'] = key

In [123]:
df.head()

            agency_name  count_unique_key
0     3-1-1 Call Center                14
1     3-1-1 Call Center             20577
2     3-1-1 Call Center                 3
3                   ACS              1219
4  Accounts Examination             10754

In [124]:
df = df.groupby('agency_name').sum()
df.sort_values(by = 'count_unique_key',ascending = False).tail(10)

                                           count_unique_key
agency_name
HPD                                                       6
CEO                                                       5
Tax Lien Unit                                             5
DCA                                                       4
MOC                                                       3
DFTA                                                      3
Alternative Superintendency                               2
OMB                                                       2
Early Care and Education Information Unit                 1
Bureau of Tobacco Control                                 1

In [125]:
df.sort_values(by = 'count_unique_key',ascending = False).head(10)

                                                    count_unique_key
agency_name
New York City Police Department                              9235193
Department of Housing Preservation and Development           7629926
Department of Transportation                                 3730438
Department of Sanitation                                     3704995
Department of Environmental Protection                       2211927
Department of Buildings                                      1469191
Department of Parks and Recreation                           1341426
Department of Health and Mental Hygiene                       783671
Taxi and Limousine Commission                                 327924
Department of Consumer Affairs                                274090

In [126]:
df = df[df['count_unique_key']>100]
print(len(df))

54

In [127]:
df.sort_values(by = 'count_unique_key',ascending = False).tail(10)

                                     count_unique_key
agency_name
Traffic Management Center                        1723
Mosquito Control                                 1715
Child Care and Camps Complaint Unit              1353
ACS                                              1219
Division of Alternative Management                561
TAX                                               461
Office of the Sheriff                             228
Department of Finance                             202
Office of Technology and Innovation               176
DVS                                               123

In [129]:
agency_list = df.index.unique().tolist()
print(len(agency_list))

54

In [143]:
def get_complaints_by_month(date_str, nta_nyc):
    year_month = datetime.strptime(date_str, '%Y-%m')
    next_month = year_month.replace(day=28) + timedelta(days=4)  # adds 4 days to get to the next month
    last_day = (next_month - timedelta(days=next_month.day)).strftime('%Y-%m-%d')
    url = 'https://data.cityofnewyork.us/resource/erm2-nwe9.json'
    query = (url +'?'
            "$select= unique_key,agency_name,latitude,longitude,created_date"
            "&$where=created_date between '"+date_str+'-01T00:00:00.000'+"' and '"+last_day+'T23:59:59.999'+"'"
            "&$limit=1000000")
    query = query.replace(" ", "%20")
    # Retry the query up to 5 times if it fails
    for i in range(5):
        try:
            response = urllib.request.urlopen(query)
            data = json.loads(response.read())
            
            df = pd.DataFrame(data)[['agency_name', 'latitude', 'longitude', 'created_date', 'unique_key']]
            df = df[df['latitude'].notnull()]
            df = df[df['longitude'].notnull()]
            # Step 2: Assign complaints to neighborhoods
            geometry = [Point(xy) for xy in zip(df.longitude.astype(float), df.latitude.astype(float))]
            crs = {'init': 'epsg:4326'}
            complaints = gpd.GeoDataFrame(df, crs=crs, geometry=geometry)
            complaints = gpd.sjoin(complaints, nta_nyc, how='inner',predicate = 'within')

            # Step 3: Clean up complaint types
            for complaint_type in complaints['agency_name'].unique():
                stripped_complaint_type = complaint_type.strip().lower()

                if stripped_complaint_type in [val_item.strip().lower() for val in agency_dict.values() for val_item in val]:
                    key = [k for k, v in agency_dict.items() if stripped_complaint_type in [val_item.strip().lower() for val_item in v]][0]
                    complaints.loc[complaints['agency_name'] == complaint_type, 'agency_name'] = key
            
            complaints = complaints[complaints['agency_name'].isin(agency_list)]
            # Step 4: Aggregate complaints by neighborhood and complaint type
            complaints = complaints.groupby(['ntacode', 'agency_name']).agg({'unique_key': 'nunique'})
            complaints = complaints.unstack(level='agency_name')
            complaints.columns = complaints.columns.droplevel()
            complaints.index.name = 'ntacode'
            complaints.reset_index(inplace=True)
            complaints['date'] = pd.to_datetime(date_str)
            complaints.set_index(['ntacode', 'date'], inplace=True)
        
        except Exception as e:
            print(f"Error fetching complaints for {date_str}: {e}")
            if i < 4:
                print(f"Retrying in {5 * (i+1)} seconds...")
                #time.sleep(5 * (i+1))
            elif i ==4: 
                print(f"Unable to load data for {date_str} even after 5 attempts. Returning NaN values for all NTACodes.")
                index = pd.MultiIndex.from_product([nta_nyc.ntacode.unique().tolist(), comp_dict_final.keys()], names=['ntacode', 'agency_name'])
                df = pd.DataFrame({'count': np.nan}, index=index)
                complaints = df.unstack(level='agency_name')
                complaints.columns = complaints.columns.droplevel()
                complaints.index.name = 'ntacode'
                complaints.reset_index(inplace=True)
                complaints['date'] = pd.to_datetime(date_str)
                complaints.set_index(['ntacode', 'date'], inplace=True)
    complaints = complaints.fillna(0)
    return complaints

In [131]:
#import nta shapefile
nta_url = 'https://data.cityofnewyork.us/resource/q2z5-ai38.json'

query = (nta_url+'?'
        "$select=*"
        "&$limit=10000")
query = query.replace(" ", "%20")
response = urllib.request.urlopen(query)
data = json.loads(response.read())


for d in data:
    d['geometry'] = shape(d['the_geom'])

#store in a geodataframe
nta_nyc = gpd.GeoDataFrame(data, geometry = 'geometry', crs = 'EPSG: 4326')
nta_nyc = nta_nyc.drop(columns = ['the_geom'])
nta_nyc.head()

,boro_code,boro_name,county_fips,ntacode,ntaname,shape_leng,shape_area,geometry
0,4,Queens,081,QN08,St. Albans,45401.316803,77412747.847,"MULTIPOLYGON (((-73.75205 40.70523, -73.75174 ..."
1,2,Bronx,005,BX28,Van Cortlandt Village,21945.719299,25666124.5948,"MULTIPOLYGON (((-73.88705 40.88435, -73.88705 ..."
2,4,Queens,081,QN55,South Ozone Park,36708.1693055,82461393.7368,"MULTIPOLYGON (((-73.80577 40.68293, -73.80552 ..."
3,3,Brooklyn,047,BK40,Windsor Terrace,19033.6720656,14041667.99,"MULTIPOLYGON (((-73.98017 40.66115, -73.98021 ..."
4,3,Brooklyn,047,BK50,Canarsie,43703.6096661,82089678.6389,"MULTIPOLYGON (((-73.88834 40.64671, -73.88835 ..."

In [144]:
# Step 5: Loop over all months and combine results
start_date = pd.to_datetime('2010-01-01')
end_date = pd.to_datetime('2010-03-01')
complaints = pd.DataFrame()
for date in pd.date_range(start=start_date, end=end_date, freq='MS'):
    date_str = date.strftime('%Y-%m')
    print(date_str)
    monthly_complaints = get_complaints_by_month(date_str, nta_nyc)
    complaints = pd.concat([complaints, monthly_complaints])

2010-01
2010-02
2010-03

In [146]:
complaints.head(10)

,agency_name,3-1-1 Call Center,Correspondence Unit,Department for the Aging,Department of Buildings,Department of Consumer Affairs,Department of Education,Department of Environmental Protection,Department of Health and Mental Hygiene,Department of Housing Preservation and Development,Department of Information Technology and Telecommunications,Department of Parks and Recreation,Department of Sanitation,Department of Transportation,NYC Public Schools,New York City Police Department,Refunds and Adjustments,Taxi and Limousine Commission
ntacode,date,,,,,,,,,,,,,,,,,
BK09,2010-01-01,1.0,0.0,0.0,23.0,2.0,0.0,34.0,9.0,56.0,7.0,2.0,14.0,56.0,0.0,33.0,0.0,6.0
BK17,2010-01-01,0.0,0.0,0.0,78.0,10.0,2.0,127.0,21.0,258.0,1.0,24.0,91.0,288.0,0.0,156.0,0.0,0.0
BK19,2010-01-01,0.0,0.0,0.0,45.0,8.0,2.0,72.0,15.0,244.0,0.0,9.0,59.0,81.0,3.0,53.0,0.0,3.0
BK21,2010-01-01,0.0,0.0,1.0,31.0,1.0,0.0,64.0,9.0,261.0,0.0,7.0,27.0,59.0,0.0,79.0,0.0,2.0
BK23,2010-01-01,0.0,0.0,0.0,6.0,5.0,1.0,6.0,5.0,29.0,0.0,0.0,4.0,8.0,0.0,15.0,0.0,0.0
BK25,2010-01-01,0.0,0.0,0.0,31.0,6.0,0.0,95.0,15.0,305.0,1.0,13.0,68.0,123.0,0.0,115.0,0.0,1.0
BK26,2010-01-01,0.0,0.0,0.0,30.0,2.0,0.0,64.0,8.0,100.0,1.0,9.0,36.0,73.0,0.0,50.0,0.0,1.0
BK27,2010-01-01,0.0,0.0,0.0,30.0,2.0,0.0,26.0,8.0,149.0,0.0,7.0,30.0,65.0,1.0,65.0,0.0,0.0
BK28,2010-01-01,0.0,0.0,0.0,91.0,14.0,2.0,61.0,28.0,523.0,0.0,26.0,112.0,232.0,0.0,212.0,0.0,5.0
BK29,2010-01-01,0.0,0.0,0.0,69.0,4.0,1.0,44.0,19.0,387.0,0.0,31.0,82.0,99.0,1.0,169.0,0.0,1.0

In [154]:
# Step 5: Loop over all months and combine results
start_date = pd.to_datetime('2010-01-01')
end_date = pd.to_datetime('2022-12-01')
complaints = pd.DataFrame()
for date in pd.date_range(start=start_date, end=end_date, freq='MS'):
    date_str = date.strftime('%Y-%m')
    print(date_str)
    monthly_complaints = get_complaints_by_month(date_str, nta_nyc)
    complaints = pd.concat([complaints, monthly_complaints])

2010-01
2010-02
2010-03
2010-04
2010-05
2010-06
2010-07
2010-08
2010-09
2010-10
2010-11
2010-12
2011-01
2011-02
2011-03
2011-04
2011-05
2011-06
2011-07
2011-08
2011-09
2011-10
2011-11
2011-12
2012-01
2012-02
2012-03
2012-04
2012-05
2012-06
2012-07
2012-08
2012-09
2012-10
2012-11
2012-12
2013-01
2013-02
2013-03
2013-04
2013-05
2013-06
2013-07
2013-08
2013-09
2013-10
2013-11
2013-12
2014-01
2014-02
2014-03
2014-04
2014-05
2014-06
2014-07
2014-08
2014-09
2014-10
Error fetching complaints for 2014-10: Invalid control character at: line 49808 column 23 (char 8863163)
Retrying in 5 seconds...
2014-11
2014-12
2015-01
2015-02
2015-03
2015-04
2015-05
2015-06
2015-07
2015-08
2015-09
2015-10
2015-11
2015-12
2016-01
2016-02
2016-03
2016-04
2016-05
2016-06
2016-07
2016-08
2016-09
2016-10
2016-11
2016-12
2017-01
2017-02
2017-03
2017-04
2017-05
2017-06
2017-07
2017-08
2017-09
2017-10
2017-11
2017-12
2018-01
2018-02
2018-03
2018-04
2018-05
2018-06
2018-07
2018-08
2018-09
2018-10
2018-11
2018-12
2019-01
2019-02
2019-03
2019-04
2019-05
2019-06
2019-07
2019-08
2019-09
2019-10
2019-11
2019-12
2020-01
2020-02
2020-03
2020-04
2020-05
2020-06
2020-07
2020-08
2020-09
2020-10
2020-11
2020-12
2021-01
2021-02
2021-03
2021-04
2021-05
2021-06
2021-07
2021-08
2021-09
2021-10
2021-11
2021-12
2022-01
2022-02
2022-03
2022-04
2022-05
2022-06
2022-07
2022-08
2022-09
2022-10
2022-11
2022-12

In [157]:
complaints.head()

,agency_name,3-1-1 Call Center,Correspondence Unit,Department for the Aging,Department of Buildings,Department of Consumer Affairs,Department of Education,Department of Environmental Protection,Department of Health and Mental Hygiene,Department of Housing Preservation and Development,Department of Information Technology and Telecommunications,...,Disability Rent Increase Exemption Unit,Commercial Exemption Unit,DRIE Unit,Traffic Management Center,Department of Homeless Services,Discrepancy and Billing,External Affairs Unit,Payment Operations,Mayorâs Office of Special Enforcement,Office of Technology and Innovation
ntacode,date,,,,,,,,,,,,,,,,,,,,,
BK09,2010-01-01,1.0,0.0,0.0,23.0,2.0,0.0,34.0,9.0,56.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BK17,2010-01-01,0.0,0.0,0.0,78.0,10.0,2.0,127.0,21.0,258.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BK19,2010-01-01,0.0,0.0,0.0,45.0,8.0,2.0,72.0,15.0,244.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BK21,2010-01-01,0.0,0.0,1.0,31.0,1.0,0.0,64.0,9.0,261.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BK23,2010-01-01,0.0,0.0,0.0,6.0,5.0,1.0,6.0,5.0,29.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
complaints.tail()

,agency_name,3-1-1 Call Center,Correspondence Unit,Department for the Aging,Department of Buildings,Department of Consumer Affairs,Department of Education,Department of Environmental Protection,Department of Health and Mental Hygiene,Department of Housing Preservation and Development,Department of Information Technology and Telecommunications,...,Disability Rent Increase Exemption Unit,Commercial Exemption Unit,DRIE Unit,Traffic Management Center,Department of Homeless Services,Discrepancy and Billing,External Affairs Unit,Payment Operations,Mayorâs Office of Special Enforcement,Office of Technology and Innovation
ntacode,date,,,,,,,,,,,,,,,,,,,,,
SI37,2022-12-01,NaN,NaN,NaN,35.0,2.0,0.0,66.0,20.0,210.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
SI45,2022-12-01,NaN,NaN,NaN,18.0,1.0,1.0,72.0,11.0,31.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0
SI48,2022-12-01,NaN,NaN,NaN,16.0,2.0,0.0,40.0,3.0,9.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0
SI54,2022-12-01,NaN,NaN,NaN,53.0,2.0,0.0,108.0,11.0,29.0,NaN,...,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,0.0
SI99,2022-12-01,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0

In [159]:
complaints = complaints.fillna(0)
complaints.head()

,agency_name,3-1-1 Call Center,Correspondence Unit,Department for the Aging,Department of Buildings,Department of Consumer Affairs,Department of Education,Department of Environmental Protection,Department of Health and Mental Hygiene,Department of Housing Preservation and Development,Department of Information Technology and Telecommunications,...,Disability Rent Increase Exemption Unit,Commercial Exemption Unit,DRIE Unit,Traffic Management Center,Department of Homeless Services,Discrepancy and Billing,External Affairs Unit,Payment Operations,Mayorâs Office of Special Enforcement,Office of Technology and Innovation
ntacode,date,,,,,,,,,,,,,,,,,,,,,
BK09,2010-01-01,1.0,0.0,0.0,23.0,2.0,0.0,34.0,9.0,56.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BK17,2010-01-01,0.0,0.0,0.0,78.0,10.0,2.0,127.0,21.0,258.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BK19,2010-01-01,0.0,0.0,0.0,45.0,8.0,2.0,72.0,15.0,244.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BK21,2010-01-01,0.0,0.0,1.0,31.0,1.0,0.0,64.0,9.0,261.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BK23,2010-01-01,0.0,0.0,0.0,6.0,5.0,1.0,6.0,5.0,29.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [160]:
complaints.columns

Index(['3-1-1 Call Center', 'Correspondence Unit', 'Department for the Aging',
       'Department of Buildings', 'Department of Consumer Affairs',
       'Department of Education', 'Department of Environmental Protection',
       'Department of Health and Mental Hygiene',
       'Department of Housing Preservation and Development',
       'Department of Information Technology and Telecommunications',
       'Department of Parks and Recreation', 'Department of Sanitation',
       'Department of Transportation', 'NYC Public Schools',
       'New York City Police Department', 'Refunds and Adjustments',
       'Taxi and Limousine Commission', 'Economic Development Corporation',
       'Division of Alternative Management', 'HRA Benefit Card Replacement',
       'Child Care and Camps Complaint Unit', 'NYC Emergency Management',
       'Mosquito Control', 'Office of the Taxpayer Advocate',
       'Disability Rent Increase Exemption Unit', 'Commercial Exemption Unit',
       'DRIE Unit', 'Traffic Management Center',
       'Department of Homeless Services', 'Discrepancy and Billing',
       'External Affairs Unit', 'Payment Operations',
       'Mayorâs Office of Special Enforcement',
       'Office of Technology and Innovation'],
      dtype='object', name='agency_name')

In [161]:
len(complaints.columns.tolist())

34

In [162]:
comp_cats = complaints.columns.tolist()
compset = set(comp_cats)
agencyset = set(agency_list)
agencyset-compset

{'ACS',
 'Accounts Examination',
 'Adjudication - Appeals Unit',
 'Adjudication - Hearing by Mail',
 'Condo or CoOp Unit',
 'DCAS',
 'DHS Advantage Programs',
 'DVS',
 'Department of Finance',
 'Dunning Unit',
 'Exemption Policy Unit',
 'HealthCare Connections',
 'Land Records',
 'Office of the Sheriff',
 'Property Exec Office',
 'RPIE Unit',
 'Revenue Accounting',
 'Senior Citizen Rent Increase Exemption Unit',
 'TAX',
 'Valuation Policy'}

In [90]:
# Step 5: Loop over all months and combine results
start_date = pd.to_datetime('2018-08-01')
end_date = pd.to_datetime('2022-12-01')
# complaints = pd.DataFrame()
for date in pd.date_range(start=start_date, end=end_date, freq='MS'):
    date_str = date.strftime('%Y-%m')
    print(date_str)
    monthly_complaints = get_complaints_by_month(date_str, nta_nyc)
    complaints = pd.concat([complaints, monthly_complaints])

2018-08
2018-09
2018-10
2018-11
2018-12
2019-01
2019-02
2019-03
2019-04
2019-05
2019-06
2019-07
2019-08
2019-09
2019-10
2019-11
2019-12
2020-01
2020-02
2020-03
2020-04
2020-05
2020-06
2020-07
2020-08
2020-09
2020-10
2020-11
2020-12
2021-01
2021-02
2021-03
2021-04
2021-05
2021-06
2021-07
2021-08
2021-09
2021-10
2021-11
2021-12
2022-01
2022-02
2022-03
2022-04
2022-05
2022-06
2022-07
2022-08
2022-09
2022-10
2022-11
2022-12

In [91]:
complaints = complaints.fillna(0)
complaints.tail()

,complaint_type_final,adopt-a-basket,air quality,animal abuse,animal facility - no permit,animal in a park,appliance,asbestos,beach/pool/sauna complaint,best/site safety,bike rack condition,...,obstruction,sanitation worker or vehicle complaint,storm,incorrect data,retailer complaint,transfer station complaint,face covering violation,private school vaccine mandate non-compliance,oil or gas spill,building drinking water tank
ntacode,date,,,,,,,,,,,,,,,,,,,,,
SI37,2022-12-01,0.0,4.0,3.0,0.0,0.0,4.0,2.0,0.0,0.0,0.0,...,8.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SI45,2022-12-01,1.0,5.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,7.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SI48,2022-12-01,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SI54,2022-12-01,0.0,2.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SI99,2022-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [92]:
complaints.to_csv('311_monthlycomplaints_nta.csv')

In [93]:
len(complaints)

10329